/*remove left navigation box from the SharePoint page*/
#sideNavBox {
  display: none !important;
}

#contentBox {
  margin-left: 5px !important;
}

.disabled-style label {
  background-color: #ffffff !important;
}

/*move the form a little up*/
.ms-core-tableNoSpace {
  margin-top: -50px;
}

.headerColumn {
  font-weight: bold;
  white-space: normal;
  float: left;
  /*width: 85%;*/
}

.relative-left {
  position: relative;
  right: 30px;
}


#DeltaPlaceHolderPageDescription {
  display: none;
}

/* css for Planned week */

/* .plannedWeekLv {
  overflow: inherit !important;
} */


